<div class="container">
  <header>
    <nav class="navbar">
      <a href="#" class="navbar-brand">Spotify API</a>
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/principal" >
              Need Music?
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/playlist" >
            Playlists
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">
            Register
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLinkActive="active" routerLink="/loginn">
            Log in
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>

